@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@layer base {
  html {
    font-family: Montserrat;
  }
}

@font-face {
  font-family: Montserrat;
  src: url(montserrat-regular-webfont.woff2);
}
